.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box {
    background: linear-gradient(-90deg, #f0f0f0 0%, #f8f8f8 50%, #f0f0f0 100%);
    background-size: 400% 400%;
    animation: pulse 1.2s ease-in-out infinite;
    list-style-type: none;
    border-radius: 12px;
    padding: 6px;
    margin-bottom: 20px;
    margin-right: 12px;
    min-height: 240px;
    min-width: 265px;
    flex: 17%;
}

@keyframes pulse {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -135% 0%;
    }
}